<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Услуги дизайна</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/DesignServicesPage/DesignServicesPageStyle.css" asp-append-version="true" />
</head>

<body class="BackgroundColor">

    <header>
        <nav class="navbar navbar-expand-md navbar-light">
            <div class="container">
                <a class="navbar-brand mx-auto TextSDS" asp-area="" asp-controller="Pages" asp-action="HomePage"><b>SOKOLOV DEVELOPMENT STUDIO</b></a>
            </div>
        </nav>
    </header>

    <div class="row align-items-center">
        <div class="col-md-6">
            <img src="/img/DesignServicesPage/DesignHelp.jpg" class="img-fluid">
        </div>
        <div class="col-md-6">
            <p class="text-center">
                Мы компания, предоставляющая широкий спектр услуг дизайна, нацеленных на создание эстетически привлекательных и функциональных визуальных решений для наших клиентов. Наша команда состоит из талантливых дизайнеров, которые обладают креативностью и глубоким пониманием дизайнерских принципов. Мы предлагаем услуги в следующих областях дизайна: 1. Веб-дизайн: Мы разрабатываем уникальные и привлекательные дизайны для веб-сайтов, которые сочетают в себе пользовательскую дружелюбность, простоту навигации и визуальную привлекательность. Мы учитываем ваши брендинговые цели и создаем дизайн, который отражает уникальность вашего бизнеса. 2. Графический дизайн: Мы создаем логотипы, фирменный стиль, брендбуки, рекламные материалы и другие графические элементы, которые помогут вашему бренду выделиться и вызывать доверие у ваших клиентов.
            </p>
        </div>
    </div>

    <div class="row align-items-center">
        <div class="col-md-6 order-md-2">
            <img src="/img/DesignServicesPage/DesignService.png" class="img-fluid">
        </div>
        <div class="col-md-6 order-md-1">
            <p class="text-center">
                3. UX/UI-дизайн: Мы делаем акцент на пользовательском опыте (UX) и пользовательском интерфейсе (UI) для разработки приложений и веб-сайтов. Мы обеспечиваем простоту использования, интуитивность и визуальную привлекательность, чтобы обеспечить оптимальное взаимодействие пользователя с вашими продуктами или услугами. 4. Интерьерный дизайн: Мы помогаем создать уникальные и функциональные интерьерные решения для помещений, будь то офисы, магазины или жилые пространства. Мы учитываем ваши потребности, бюджет и стиль, чтобы создать пространство, отражающее вашу уникальность и удовлетворяющее ваши требования. Мы тщательно работаем с каждым клиентом, чтобы понять его потребности и предпочтения, а затем создать дизайн, который соответствует их ожиданиям.
            </p>
        </div>
    </div>

    <footer class="border-none footer text-muted">

        <div class="BlackLine"></div>

        <div class="container text-center">
            <h3 class="last TextSDS" style="color:black">SOKOLOV DEVELOPMENT STUDIO</h3>
        </div>

        <div class="BlackLine"></div>

        <div class="container text-center">
            <h5 style="color:black">Наши контакты</h5>
            <a class="navbar-brand mx-auto" href="https://vk.com/sokolov_development_studio"><h5 style="color:black">Группа вконтакте</h5></a>
            <h5 style="color:black">Телефон +79155420014</h5>
            <h5 style="color:black">Телефон +79092102324</h5>
        </div>

    </footer>

</body>

</html>