<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Создание игр</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/GameCreationPage/GameCreationPageStyle.css" asp-append-version="true" />
</head>

<body class="BackgroundColor">

    <header>
        <nav class="navbar navbar-expand-md navbar-light">
            <div class="container">
                <a class="navbar-brand mx-auto TextSDS" asp-area="" asp-controller="Pages" asp-action="HomePage"><b>SOKOLOV DEVELOPMENT STUDIO</b></a>
            </div>
        </nav>
    </header>

    <div class="row align-items-center">
        <div class="col-md-6 order-md-2">
            <img src="/img/GameCreationPage/2DGameCreation.jpg" class="img-fluid">
        </div>
        <div class="col-md-6 order-md-1">
            <p class="text-center">
                Мы - компания, страстно увлеченная разработкой игр и созданием незабываемых игровых приключений. Наша команда объединяет творческих дизайнеров, талантливых программистов и вдохновенных художников, которые сотрудничают вместе, чтобы достичь высоких стандартов качества и инноваций.Мы уверены, что игровая индустрия - это место, где магия и реальность встречаются. Мы постоянно исследуем различные жанры и концепции игр, чтобы создавать уникальные и захватывающие проекты.
            </p>
        </div>
    </div>

    <div class="row align-items-center">
        <div class="col-md-6">
            <img src="/img/GameCreationPage/DeveloperGameCreation.jpeg" class="img-fluid">
        </div>
        <div class="col-md-6">
            <p class="text-center">
                Наше предназначение - разрабатывать игры, которые захватывают воображение игроков, предлагая им погрузиться в захватывающие миры, взаимодействовать с увлекательными персонажами и испытывать эмоции, которые только игры могут доставить. Мы стремимся создать игры, которые вдохновляют, удивляют и оставляют незабываемые впечатления. Путешествие от создания концепции до выпуска игры - это наш творческий путь, и мы гордимся каждым шагом, который мы сделали, и каждой игрой, которую мы создаем. По всем вопросам обращайтесь к нам!
            </p>
        </div>
    </div>

    <footer class="border-none footer text-muted">

        <div class="BlackLine"></div>

        <div class="container text-center">
            <h3 class="last TextSDS" style="color:black">SOKOLOV DEVELOPMENT STUDIO</h3>
        </div>

        <div class="BlackLine"></div>

        <div class="container text-center">
            <h5 style="color:black">Наши контакты</h5>
            <a class="navbar-brand mx-auto" href="https://vk.com/sokolov_development_studio"><h5 style="color:black">Группа вконтакте</h5></a>
            <h5 style="color:black">Телефон +79155420014</h5>
            <h5 style="color:black">Телефон +79092102324</h5>
        </div>

    </footer>

</body>

</html>
