<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Главная</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/HomePage/HomePageStyle.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-light">
            <div class="container">
                <a class="navbar-brand mx-auto TextSDS" asp-area="" asp-controller="Pages" asp-action="HomePage"><b>SOKOLOV DEVELOPMENT STUDIO</b></a>
            </div>
        </nav>
    </header>

    <div class="parallax-window" data-parallax="scroll" data-image-src="/img/HomePage/SiteDevelopmentBackground.jpg" style="display: flex; height: inherit;">
        <div class="d-flex align-items-center justify-content-center w-100" style="flex-direction: column;">
            <h3 class="TextBlock" style="color:white">Разработка сайта</h3>
            <a href="/Pages/SiteDevelopmentPage" class="btn btn-light square-btn rounded-0 TextBlock TextForButton">Подробнее</a>
        </div>
    </div>

    <div>
        <div class="BlackLine"></div>
        <h4 class="TextSDS" style="text-align: center;">SDS</h4>
        <div class="BlackLine"></div>
    </div>

    <div class="parallax-window" data-parallax="scroll" data-image-src="/img/HomePage/TelegramBotDevelopmentBackground.jpg" style="display: flex; height: inherit;">
        <div class="d-flex align-items-center justify-content-center w-100" style="flex-direction: column;">
            <h3 class="TextBlock" style="color:white">Разработка Telegram BOT</h3>
            <a href="/Pages/TelegramBotDevelopmentPage" class="btn btn-light square-btn rounded-0 TextBlock TextForButton">Подробнее</a>
        </div>
    </div>

    <div>
        <div class="BlackLine"></div>
        <h4 class="TextSDS" style="text-align: center;">SDS</h4>
        <div class="BlackLine"></div>
    </div>

    <div class="parallax-window" data-parallax="scroll" data-image-src="/img/HomePage/NovelBackground.jpg" style="display: flex; height: inherit;">
        <div class="d-flex align-items-center justify-content-center w-100" style="flex-direction: column;">
            <h3 id="tra" class="TextBlock" style="color:white">Создание новелл</h3>
            <a href="/Pages/NovelPage" class="btn btn-light square-btn rounded-0 TextBlock TextForButton">Подробнее</a>
        </div>
    </div>

    <div>
        <div class="BlackLine"></div>
        <h4 class="TextSDS" style="text-align: center;">SDS</h4>
        <div class="BlackLine"></div>
    </div>

    <div class="parallax-window" data-parallax="scroll" data-image-src="/img/HomePage/GameCreationBackground.jpg" style="display: flex; height: inherit;">
        <div class="d-flex align-items-center justify-content-center w-100" style="flex-direction: column;">
            <h3 class="TextBlock" style="color:white">Создание игр</h3>
            <a href="/Pages/GameCreationPage" class="btn btn-light square-btn rounded-0 TextBlock TextForButton">Подробнее</a>
        </div>
    </div>

    <div>
        <div class="BlackLine"></div>
        <h4 class="TextSDS" style="text-align: center;">SDS</h4>
        <div class="BlackLine"></div>
    </div>

    <div class="parallax-window" data-parallax="scroll" data-image-src="/img/HomePage/NovelDesignerBackground.jpg" style="display: flex; height: inherit;">
        <div class="d-flex align-items-center justify-content-center w-100" style="flex-direction: column;">
            <h3 class="TextBlock" style="color:white">Конструктор игр</h3>
            <a href="/Pages/NovelDesignerPage" class="btn btn-light square-btn rounded-0 TextBlock TextForButton">Подробнее</a>
        </div>
    </div>

    <div>
        <div class="BlackLine"></div>
        <h4 class="TextSDS" style="text-align: center;">SDS</h4>
        <div class="BlackLine"></div>
    </div>

    <div class="parallax-window" data-parallax="scroll" data-image-src="/img/HomePage/SoftwareDevelopmentBackground.png" style="display: flex; height: inherit;">
        <div class="d-flex align-items-center justify-content-center w-100" style="flex-direction: column;">
            <h3 class="TextBlock" style="color:white">Разработка ПО</h3>
            <a href="/Pages/SoftwareDevelopmentPage" class="btn btn-light square-btn rounded-0 TextBlock TextForButton">Подробнее</a>
        </div>
    </div>

    <div class="container">
        <main role="main" class="pb-3">
        </main>
    </div>

    <footer class="border-top footer text-muted" style="background-color: white">

        <div class="BlackLine"></div>

        <div class="container text-center">
            <h3 class="last TextSDS" style="color:black">SOKOLOV DEVELOPMENT STUDIO</h3>
        </div>

        <div class="BlackLine"></div>

        <div class="container text-center">
            <h5 style="color:black">Наши контакты</h5>
            <a class="navbar-brand mx-auto" href="https://vk.com/sokolov_development_studio"><h5 style="color:black">Группа вконтакте</h5></a>
            <h5 style="color:black">Телефон +79155420014</h5>
            <h5 style="color:black">Телефон +79092102324</h5>
        </div>

    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/HomePage/HomePageScript.js" asp-append-version="true"></script>
    <script src="~/js/HomePage/parallax.js-1.5.0/parallax.js"></script>
</body>

</html>