<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Конструктор игр</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/NovelDesignerPage/NovelDesignerPageStyle.css" asp-append-version="true" />
</head>

<body class="BackgroundColor">

    <header>
        <nav class="navbar navbar-expand-md navbar-light">
            <div class="container">
                <a class="navbar-brand mx-auto TextSDS" asp-area="" asp-controller="Pages" asp-action="HomePage"><b>SOKOLOV DEVELOPMENT STUDIO</b></a>
            </div>
        </nav>
    </header>

    <div class="row align-items-center">
        <div class="col-md-6">
            <img src="/img/NovelDesignerPage/MenuKonstruct.jpg" class="img-fluid">
        </div>
        <div class="col-md-6">
            <p class="text-center">
                Мы представляем наш инновационный игровой движок, специально разработанный для создания захватывающих визуальных новел. Наша команда разработчиков собрала все свои знания и опыт, чтобы предоставить вам мощный инструмент, который поможет воплотить ваши творческие идеи в жизнь. Наш игровой движок обладает простым и интуитивным интерфейсом, что делает его доступным даже для новичков в области разработки игр. Вы сможете создавать красочные сцены, управлять геймплеем, настраивать персонажей и диалоги, а также взаимодействовать с различными элементами в игре. Одним из наших ключевых преимуществ является редактор сценариев, который позволяет создавать интригующие сюжеты и разветвленные ветви диалогов. Вы сможете придать вашим персонажам жизнь, задавая им уникальные черты, эмоции и взаимодействия с окружающим миром.
            </p>
        </div>
    </div>

    <div class="row align-items-center">
        <div class="col-md-6 order-md-2">
            <img src="/img/NovelDesignerPage/FirstGameConstruct.jpg" class="img-fluid">
        </div>
        <div class="col-md-6 order-md-1">
            <p class="text-center">
                Наш игровой движок также поддерживает различные стили и визуальные эффекты, позволяя вам создавать уникальные и привлекательные визуальные сцены. Вы сможете настраивать цветовую палитру, анимацию персонажей, фоновую музыку и звуковые эффекты, чтобы окунуть игроков в атмосферу вашей новели. Мы стремимся предоставить вам все необходимые инструменты для творческого процесса, и возможность делиться вашими проектами с другими разработчиками и игроками. Мы поддерживаем активное сообщество, где вы можете обмениваться идеями, получать обратную связь и находить вдохновение. Воплотите свои идеи в реальность с помощью нашего игрового движка для новел и создайте захватывающие истории, которые оставят незабываемые впечатления у игроков. Добро пожаловать в мир разработки новел! Скачать можно по этой <a class="BlackColor" href="https://chr.plus.rbc.ru/partners/627274437a8aa9a09fdf3923">ссылке</a>.
            </p>
        </div>
    </div>

    <footer class="border-none footer text-muted">

        <div class="BlackLine"></div>

        <div class="container text-center">
            <h3 class="last TextSDS" style="color:black">SOKOLOV DEVELOPMENT STUDIO</h3>
        </div>

        <div class="BlackLine"></div>

        <div class="container text-center">
            <h5 style="color:black">Наши контакты</h5>
            <a class="navbar-brand mx-auto" href="https://vk.com/sokolov_development_studio"><h5 style="color:black">Группа вконтакте</h5></a>
            <h5 style="color:black">Телефон +79155420014</h5>
            <h5 style="color:black">Телефон +79092102324</h5>
        </div>

    </footer>

</body>

</html>
