<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Создание новелл</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/NovelPage/NovelPageStyle.css" asp-append-version="true" />
</head>

<body class="BackgroundColor">

    <header>
        <nav class="navbar navbar-expand-md navbar-light">
            <div class="container">
                <a class="navbar-brand mx-auto TextSDS" asp-area="" asp-controller="Pages" asp-action="HomePage"><b>SOKOLOV DEVELOPMENT STUDIO</b></a>
            </div>
        </nav>
    </header>

    <div>
        <div class="row align-items-center">
            <div class="col-md-6">
                <img src="/img/NovelPage/SchoolCorridor.jpg" class="img-fluid">
            </div>
            <div class="col-md-6">
                <p class="text-center">Визуальная новелла – это интерактивный жанр видеоигр, который сочетает в себе элементы повествования, искусства и игровой механики. В нашей игре игроку предоставляется возможность влиять на сюжет, принимать решения относительно персонажей и их поступков, что, в свою очередь, влияет на исход истории. Такой подход позволяет игрокам более погрузиться в мир игры и создать свой уникальный сценарий завершения. Так что, если вы любите повествовательный жанр и хотите углубиться в захватывающую историю с классным дизайном, то стоит попробовать!</p>
            </div>
        </div>

        <div class="BlackLine"></div>

        <div class="row align-items-center">
            <div class="col-md-6 order-md-2">
                <img src="/img/NovelPage/NovelRoom.jpg" class="img-fluid">
            </div>
            <div class="col-md-6 order-md-1">
                <p class="text-center">
                    О данной игре выходила новость - <a class="BlackColor" href="https://chr.plus.rbc.ru/partners/627274437a8aa9a09fdf3923">ссылка</a>. Цитата от туда - "Студент физфака ВГУ Александр Соколов продумал сюжет и сценарий игры. «Игру «Прощальное письмо» создали в жанре комикса. Но у героя есть несколько вариантов действий, соответственно, есть и несколько вариантов концовок. Характер и судьба персонажа зависят от самого игрока», — рассказал Александр Соколов. Второй разработчик — Андрей Чеботарев. Он отвечал за написание кода. Студентам Воронежского государственного университета помогал студент Казанского государственного архитектурно-строительного университета Никита Поляков: он работал в области дизайна."
                </p>
            </div>
        </div>

        <div class="BlackLine"></div>

        <div class="row align-items-center">
            <div class="col-md-6">
                <img src="/img/NovelPage/ClassRoom.jpg" class="img-fluid">
            </div>
            <div class="col-md-6">
                <p class="text-center">Игру вы можете скачать нажав <a class="BlackColor" href="https://disk.yandex.ru/d/40fg9Y39_8n-fw">тут</a>. После скачивания, разархивируйте, запустите файл под названием "Прощальное письмо". Можете наслаждаться игрой! Мы ждем от вас отзывы, контакты ниже.</p>
            </div>
        </div>
    </div>

    <footer class="border-none footer text-muted">

        <div class="BlackLine"></div>

        <div class="container text-center">
            <h3 class="last TextSDS" style="color:black">SOKOLOV DEVELOPMENT STUDIO</h3>
        </div>

        <div class="BlackLine"></div>

        <div class="container text-center">
            <h5 style="color:black">Наши контакты</h5>
            <a class="navbar-brand mx-auto" href="https://vk.com/sokolov_development_studio"><h5 style="color:black">Группа вконтакте</h5></a>
            <h5 style="color:black">Телефон +79155420014</h5>
            <h5 style="color:black">Телефон +79092102324</h5>
        </div>

    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/HomePage/HomePageScript.js" asp-append-version="true"></script>

</body>

</html>
