<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Разработка сайта</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/SiteDevelopmentPage/SiteDevelopmentPageStyle.css" asp-append-version="true" />
</head>

<body class="BackgroundColor">

    <header>
        <nav class="navbar navbar-expand-md navbar-light">
            <div class="container">
                <a class="navbar-brand mx-auto TextSDS" asp-area="" asp-controller="Pages" asp-action="HomePage"><b>SOKOLOV DEVELOPMENT STUDIO</b></a>
            </div>
        </nav>
    </header>

    <div class="row align-items-center">
        <div class="col-md-6 order-md-2">
            <img src="/img/SiteDevelopmentPage/CreationSiteAllPlatform.png" class="img-fluid">
        </div>
        <div class="col-md-6 order-md-1">
            <p class="text-center">
                Наша команда талантливых разработчиков, дизайнеров и специалистов по пользовательскому опыту с особым вниманием относится к каждому проекту. Мы тщательно изучаем вашу компанию, ваши цели и потребности, чтобы создать интерактивный и эффективный веб-сайт, который будет привлекать и удерживать внимание пользователей. Мы предлагаем широкий спектр услуг, включая разработку пользовательского интерфейса, верстку, программирование, интеграцию баз данных, оптимизацию для поисковых систем (SEO), создание адаптивного дизайна для мобильных устройств и многое другое. Наш подход основан на современных технологиях и передовых методах разработки.  Вы можете заказать у нас сайт любого масштаба (от «визитки» до корпоративного портала или интернет-витрину).
            </p>
        </div>
    </div>

    <div class="row align-items-center">
        <div class="col-md-6">
            <img src="/img/SiteDevelopmentPage/LaptopSiteCreation.png" class="img-fluid">
        </div>
        <div class="col-md-6">
            <p class="text-center">
                UX (User Experience) - то, какой опыт/впечатление получает пользователь от работы с интерфейсом. Удается ли ему достичь цели и на сколько просто или сложно это сделать. UI (User Interface) - то, как выглядит интерфейс, какие физические характеристики приобретает. Определяет, какого цвета будет ваше «изделие», удобно ли будет человеку попадать пальцем в кнопочки, читабельным ли будет текст и прочее. Вы получаете смету на проектное решение. Мы гарантируем фиксированную стоимость разработки сайта. Называя сумму и сроки, мы освобождаем Заказчика от рисков.

            </p>
        </div>
    </div>

    <div class="row align-items-center">
        <div class="col-md-6 order-md-2">
            <img src="/img/SiteDevelopmentPage/CreationSiteAllPlatform.png" class="img-fluid">
        </div>
        <div class="col-md-6 order-md-1">
            <p class="text-center">
                В какую цену обойдется именно Ваш проект, мы скажем после обсуждения требований. Даже если у Вас нет четкого понимания будущего функционала, мы поможем его собрать. Выясним, какая информация обязательно должна быть на сайте, уточним, какие идеи и цели у Вас возникли при обращении к нам. Поможем решить, что добавить на сайт дополнительно, а от чего можно отказаться или доработать  после запуска.
            </p>
        </div>
    </div>

    <footer class="border-none footer text-muted">

        <div class="BlackLine"></div>

        <div class="container text-center">
            <h3 class="last TextSDS" style="color:black">SOKOLOV DEVELOPMENT STUDIO</h3>
        </div>

        <div class="BlackLine"></div>

        <div class="container text-center">
            <h5 style="color:black">Наши контакты</h5>
            <a class="navbar-brand mx-auto" href="https://vk.com/sokolov_development_studio"><h5 style="color:black">Группа вконтакте</h5></a>
            <h5 style="color:black">Телефон +79155420014</h5>
            <h5 style="color:black">Телефон +79092102324</h5>
        </div>

    </footer>

</body>

</html>